body {
  font-family: monospace;
  text-align: center;

}

/* REMOVES HYPERLINK STYLES TO TEXT */
a {
  text-decoration: none;
  color: black;
}

/* FOOTER */
footer {
  background-color: greenyellow;
  width: 100%;
  height: 20px;
  left: 0;
  bottom: 0;
  padding: 3px 0;
  position: fixed;
  display: flex;
  align-items: center;
}

footer a {
  text-decoration: none;
  padding: 10px;
}

#footer-logo {
  width: 20px;
  padding: 10px;
}

footer:hover {
  background-color: rgb(226, 255, 35);
}

/* BUTTONS */
button {
  background: white;
  padding: 5px 20px;
  border-radius: 12px;
  border-width: 1px;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
  font-family: monospace;
}
button:hover {
  background-color: greenyellow;
}

/* HOME PAGE */
.select-home-pg {
  padding: 150px;
}
.select-home-pg h2 {
  text-align: left;
}
.select-home-pg p {
  text-align: left;
}

/* ABOUT PAGE */
.about {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

/* PLANT LIST PAGE */
.select-plant-list-pg {
  padding-left: 150px;
  padding-right: 150px;
}

/* PLANT CARD RENDERED IN PLANT LIST PAGE */
.plant-card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px black;
  padding: 30px;
  margin: 15px;
  text-align: center;
  width: 250px;
  height: 500px;
  display: inline-block;
  vertical-align: top;
}

.plant-card .plant-card-img {
  width: 250px;
  height: 125px;
  border-radius: 10%;
  margin-bottom: 10px;
  object-fit: cover;
}
.plant-card-heart-btn {
  margin: 10px;
  border-radius: 100%;
}

/* PLANT DETAILS CARD RENDERED IN PLANT DETAILS PAGE */
.plant-details-card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px black;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 50px;
  text-align: left;
  display: block;
}

.plant-details-card-img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.plant-details-card-header-text {
  padding-left: 30px;
}

.plant-details-list {
  list-style-type: none;
  margin-bottom: 10px;
  padding-left: 30px;
}
.plant-details-card-buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 10px;
}

/* COMMENTS SECTION */
.comments-section {

}
.comments-section h1 {

}

/* COMMENT CARD */
.comment-card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px black;
  padding: 30px;
  margin: 15px;
  text-align: left;
}
.comment-card h3 {
  margin: 20px;
  text-align: left;
}
.comment-card h4 {
  margin: 20px;
  text-align: left;
}
.comment-card p {
  margin: 20px;
  text-align: left;
  display: flex; /**/
}
/* ADD A COMMENT FORM */
.add-comment-form {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  padding-left: 20px;
}

.add-comment-form label,
.add-comment-form input,
.add-comment-form textarea {
  width: 95%;
  margin-bottom: 10px;
  font-family: monospace;
}

/* ADD PLANT FORM IN ADD PLANT PAGE*/
/* EDIT PLANT FORM IN EDIT PLANT PAGE*/
.add-plant-page,
.edit-plant-page {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px black;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 50px;
  text-align: left;
  display: block;
}
.add-plant-page form,
.edit-plant-page form {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 20px;
}

.add-plant-page form label,
.edit-plant-page form label {
  margin-top: 10px;
  font-weight: bold;
}

.add-plant-page form textarea,
.edit-plant-page form textarea {
  max-width: 100%;
}

.add-plant-page form input[type=text],
.edit-plant-page form input[type=text] {
  font-family: monospace;
}

.submit-button-forms {
  margin-top: 10px;
  align-self: flex-end;
}