body {
  font-family: monospace;
  text-align: center;
}

/* REMOVES HYPERLINK STYLES TO TEXT */
a {
  text-decoration: none;
  color: black;
}

/* FOOTER */
footer {
  background-color: greenyellow;
  width: 100%;
  height: 20px;
  left: 0;
  bottom: 0;
  padding: 3px 0;
  position: fixed;
  display: flex;
  align-items: center;
}

footer a {
  text-decoration: none;
  padding: 10px;
}

#footer-logo {
  width: 20px;
  padding: 10px;
}

footer:hover {
  background-color: rgb(226, 255, 35);
}

/* BUTTONS */
button {
  background: white;
  padding: 5px 20px;
  border-radius: 50px;
  border-width: 1px;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
  font-family: monospace;
}
button:hover {
  background-color: greenyellow;
}

/* ABOUT PAGE */
.about {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

/* PLANT CARD RENDERED IN PLANT LIST PAGE */
.plant-card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px black;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.plant-card .plant-card-img {
  max-width: 95%;
  height: auto;
  border-radius: 10%;
  margin-bottom: 10px;
}

/* PLANT DETAILS CARD RENDERED IN PLANT DETAILS PAGE */
.plant-details-card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px black;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.plant-details-card .plant-details-card-img {
  max-width: 95%;
  height: auto;
  border-radius: 10%;
  margin-bottom: 10px;
}


/* ADD PLANT FORM IN ADD PLANT PAGE*/
/* EDIT PLANT FORM IN EDIT PLANT PAGE*/
.add-plant-page,
.edit-plant-page {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px black;
  padding: 20px;
  margin: 10px;
  text-align: left;
  display: block;
}
.add-plant-page form,
.edit-plant-page form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

